# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https:#www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License. 

apiVersion: apps/v1
kind: DaemonSet
metadata:
  namespace: gmp-system
  name: collector
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: collector
  template:
    metadata:
      labels:
        app: managed-prometheus-collector
        app.kubernetes.io/name: collector
      annotations:
        components.gke.io/component-name: managed_prometheus
        # The emptyDir for the storage and config directories prevents cluster
        # autoscaling unless this annotation is set.
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
        kubernetes.io/os: linux
      containers:
      - name: prometheus
        image: gcr.io/gpe-test-1/prometheus-engine/prometheus:v2.35.0-gmp.1
        args:
        - --config.file=/prometheus/config_out/config.yaml
        - --storage.tsdb.path=/prometheus/data
        - --storage.tsdb.no-lockfile
        - --storage.tsdb.retention.time=30m
        - --storage.tsdb.wal-compression
        - --storage.tsdb.min-block-duration=10m
        - --storage.tsdb.max-block-duration=10m
        - --web.listen-address=:19090
        - --web.enable-lifecycle
        - --web.route-prefix=/
        - --export.user-agent=prometheus/2.35.0-gmp.1 (mode:kubectl)
        # The environment variable EXTRA_ARGS will be populated by the operator.
        # DO NOT specify it here.
        env:
        - name: GOGC
          value: "25"
        ports:
        - name: prom-metrics
          containerPort: 19090
        livenessProbe:
          httpGet:
            path: /-/healthy
            port: 19090
            scheme: HTTP
        readinessProbe:
          httpGet:
            path: /-/ready
            port: 19090
            scheme: HTTP
        resources:
          limits:
            cpu: 1000m
            memory: 3G
          requests:
            cpu: 100m
            memory: 200M
        volumeMounts:
        - name: storage
          mountPath: /prometheus/data
        - name: config-out
          mountPath: /prometheus/config_out
          readOnly: true
        - name: rules-secret
          mountPath: /etc/secrets
          readOnly: true
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          capabilities:
            drop:
            - all
          runAsUser: 1000
          runAsGroup: 1000
          seccompProfile:
            type: RuntimeDefault
      - name: config-reloader
        image: gke.gcr.io/prometheus-engine/config-reloader:v0.4.0-gke.0
        args:
        - --config-file=/prometheus/config/config.yaml
        - --config-file-output=/prometheus/config_out/config.yaml
        - --reload-url=http://localhost:19090/-/reload
        - --listen-address=:19091
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        ports:
        - name: cfg-rel-metrics
          containerPort: 19091
        resources:
          limits:
            cpu: 10m
            memory: 32M
          requests:
            cpu: 5m
            memory: 16M
        volumeMounts:
        - name: config
          mountPath: /prometheus/config
          readOnly: true
        - name: config-out
          mountPath: /prometheus/config_out
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          capabilities:
            drop:
            - all
          runAsUser: 1000
          runAsGroup: 1000
          seccompProfile:
            type: RuntimeDefault
      serviceAccountName: collector
      automountServiceAccountToken: true
      priorityClassName: gmp-critical
      tolerations:
      - effect: NoExecute
        operator: Exists
      - effect: NoSchedule
        operator: Exists
      volumes:
      - name: storage
        emptyDir: {}
      - name: config
        configMap:
          name: collector
      - name: config-out
        emptyDir: {}
      - name: rules-secret
        secret:
          secretName: collection